body{
    font-family: "Times New Roman", serif;
}

table{
    width:70%;
    margin:30px auto;
    border:2px solid black;
    border-collapse:separate;
    border-spacing:2px;
}

th,td{
    border:1px solid black;
    padding:8px;
}

.title{
    font-size:22px;
    font-weight:bold;
    text-align:center;
    padding:15px;
}

td:first-child{
    width:35%;
}

td:last-child{
    width:65%;
}

input,textarea{
    width:220px;
}
.gender{
    display:flex;
    align-items:center;
    gap:15px;
}

.gender input{
    width:auto;
}
label{
    margin-right:20px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"]{
    width:220px;
    height:25px;
    font-size:16px;
}

textarea{
    resize:none;
    font-size:16px;
}

input[type="submit"]{
    padding:5px 12px;
    font-size:16px;
}